
.product-title{   
    font-family: 'Fira Sans', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    background-color: rgb(255, 166, 0);
    width:245px;
    height: 45px;
    border-radius: 7px;
    text-align: center;
    padding-top: 10px;
    margin-top: 60px;
    margin-left: 180px;
}
.product-title:hover{
    background-color: #FFFFFF;
    color:rgb(255, 166, 0); 
    border: 1px solid rgb(255, 166, 0); 
}


.start-journey{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    display: flex;
    /* margin-left: 180px; */
}
.intro-area{
    width: 600px;
    height: 350px;
    margin-top: 50px;
}
.intro-title{
    font-size: 52px;
    margin: 0;
}
.intro-details{
    margin-top: 0;
    font-weight: 600;
}
.booking-button{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background-color: rgb(255, 166, 0);
    padding: 7px 15px;
    border-radius: 7px;
}
.booking-button:hover{
    background-color: #FFFFFF;
    color:rgb(255, 166, 0); 
    border: 1px solid rgb(255, 166, 0); 
}
.intro-icon{
    width: 550px;
    height: 415px;
    margin-left: 50px;
}

/* popular collection */
.product-intro-collection{
    margin-left: 180px;
}
.popular-collection{
    margin-top: 150px;
    margin-right: 150px;
    font-family: 'Poppins', sans-serif;
}
.collection-title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}
.product-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.single-item{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}
.single-item:hover{
    border: 1px solid rgb(255, 166, 0);
}
.item-name{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 28px;
}
.item-price{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 23px;
    font-weight: 500;
}
.item-rating{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.rating-point{
    font-size: 16px;
    font-weight: 700;
    color: #5E6366;
    margin-left: 10px;
}
.fa-star.filled{
    color:rgb(255, 166, 0);
}
.fa-star-half-alt{
    color:rgb(255, 166, 0);
}
.delevery-info{
    margin-top: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #787885;
}
.delevery-info span{
    display: block;
}
.more-item-btn{
    position: absolute;
    right: 0%; 
    font-weight: bold;
    margin-top: 30px;
    margin-right: 150px;
}
.more-item-btn a{
    text-decoration: none;
    color:rgb(255, 166, 0);
}

/* Footer styles */
footer{
    text-align: center;
    width: 100%;
    margin-top: 100px;
    background-color: rgba(3, 3, 46, 0.952);
    color: #FFFFFF;   
    padding: 20px;
}
footer p{
    font-size: 14px;
}
.social-icon{
    margin-right: 20px;
    font-size: 14px;
}